<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lldragon.dao.UserDao">

    <!-- login-->
    <select id="login" parameterType="com.lldragon.entiy.User" resultType="com.lldragon.entiy.User">
        select id,username,password from t_user where username=#{username}
        and password=#{password}
    </select>

    <!--register-->
    <insert id="register" parameterType="com.lldragon.entiy.User">
        insert into t_user(username,password) values(#{username},#{password})
    </insert>

    <!--checkName-->
    <select id="checkName" parameterType="java.lang.String" resultType="com.lldragon.entiy.User">
        select id,username,password from t_user where username=#{username}
    </select>
</mapper>